fastapi
uvicorn[standard]
python-dotenv
groq
pymongo
motor
python-jose[cryptography]
passlib[bcrypt]
python-multipart
langchain
langchain-community
langchain-chroma
langchain-text-splitters
chromadb
pypdf
bcrypt
bson
requests